/*--------------------------------------------*/
/*Fixed the conflict with Bootstrap*/
.woocommerce-billing-fields .form-row, .woocommerce-shipping-fields .form-row,.woocommerce form .form-row {
	display: block;
  }
  .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
	max-width: unset;
  }
  /*Set as one column*/
  .woocommerce .woocommerce-checkout .col2-set .col-1,
  .woocommerce .woocommerce-checkout .col2-set .col-2 {
	  width: 100% !important;
  }
  .woocommerce .woocommerce-checkout .col2-set .col-1 {
	  margin-bottom: 30px;
  }
  /*--------------------------------------------*/

// Fix billing field wrapper
.woocommerce-input-wrapper {
	width: 100%;
}

// Woocommerce product gallery slider width fix
figure.woocommerce-product-gallery__wrapper {
	max-width: inherit !important;
}

// Fix coupon code input width
@media(min-width: 768px) {
	#coupon_code.input-text {
		width: 110px !important;
	}
}
